:root{
--fundo:#b67cdd;
--cartão-frente:#f2d307;
--cartao-verso:#3d6ad4;
--destaque:#399692;
--preto:#000000;
--branco:#ffffff;

}
body{
    background-color: var(--fundo);
}
footer{
    poition: fixed;
    bottom: 0;
    background-color:var(--preto);
    color:var(branco);
    width: 100%;
    text-align: center;
}
